<mat-toolbar class="mat-toolbar-class">
  <span class="thespace"></span>
  <span><ul>
    <li>
      <a mat-button routerLink="/" >Display Tasks</a>
    </li>
  </ul>
  </span>
  <span class="thespace"></span>
  <span class="thespace"></span>
  <span>Task Management System</span>
  <span class="thespace"></span>
  <span class="thespace"></span>
  <span><ul>
    <li>
      <a mat-button routerLink="/create"  class="newtask">New Task</a>
    </li>
  </ul>
  </span>
  <span class="thespace"></span>

</mat-toolbar>
