mat-card {

  margin-top: 8px;
}

mat-form-field,
text-area {
  width: 100%;
}

.title-text {
  margin-top: 16px;
  text-align: center;
}

.errortext{
  font-size: 11px;
}

.startdate{
  flex: 1 1 auto;
}

.enddate{
  flex: 1 1 auto;
}

.s-e-label{
  font-size: smaller;
}
